* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

body {
  overflow: hidden;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 60px;
  text-align: center;
}

/* Header */

.main_title {
  font-size: 50px;
  font-weight: 600;
  color: blueviolet;
  text-shadow: 0px 0px 2px black;
}

/* Counter Section */
#display_count {
  font-size: 30px;
}

.hidden {
  display: none;
}

/* Button Area */

.btn:hover,
.social:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
